<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.outsystems.plugins.camera.oscameralib">

    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.outsystems.plugins.camera.view.LoadingActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.outsystems.plugins.camera.view.ImageEditorActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:enableOnBackInvokedCallback="true"
            tools:targetApi="33" />

        <activity
            android:name="com.outsystems.plugins.camera.view.OSCAMROpenPhotoPickerActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <!-- Trigger Google Play services to install the backported photo picker module. -->
        <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>

    </application>

</manifest>